/**********GLOBAL***********/
body {
	background: #FFFFFF !important;
}

@font-face {
	font-family: 'rc_charis_silregular';
	src: url('../../../fonts/rccharissilr-webfont.woff2') format('woff2'),
	url('../../../fonts/rccharissilr-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

/********Navbar********/

.mynav .navbar {
	background: #FFFFFF !important;
}

.jumbotron {
	background: #FFFFFF !important;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}


footer {
	width: 200px;
}